/target
*.exe
*.ttf
*.bak
*.pdb
*.ilk
*.exp
*.lib
*.dll

# Frontend
frontend/node_modules
frontend/dist

# Rust
src-tauri/target/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.local
